/* Style sheet for the HTML formatting of RSAT results */

/* BODY  */
body {
       font-family: Verdana, Helvetica, Arial, sans-serif;
       font-size: 10pt;
       margin-top: 2px;
       margin-left: 20px;
       text-align: justify;
       background: #ffffff;
       margin-right: 20px;

}


/*
 * Table section_table
 */

table.section_table {
	/*margin: 10px 20px 20px;*/
	width: 100%;
	margin-left:10px;
	margin-top:30px;  
	color: #000000;
	border-spacing: 0px;
}

table.section_table th {
	width: 100%;
	font-size: 12pt;
	padding: 2px 10px;
	background-color: #A9E2F3;
	color: #000000 /*#2E9AFE*/
}


/*
 * Table no_line_table
 */

table.no_line_table {
	margin-left:10px;
	font-size: 10pt;
	padding: 2px 10px; 
	color: #000000;
	border-spacing: 0px;
}


/*
 * Table statistic_table
 */


table.statistic_table {
	margin-left:10px; 
	margin-top:5px;
	margin-bottom:5px;
	color: #000000;
	border-left: 1px solid #cbcbb4;
	border-top: 1px solid #cbcbb4;
	border-spacing: 0px;
}

table.statistic_table th {
	font-size: 10pt;
	padding: 2px 10px;
	background-color: #A9E2F3;
	color: #2E9AFE
}

table.statistic_table td {
	font-size: 10pt;
	padding: 2px 10px;
	background-color: #FFFFFF;
	text-align: center;
	border-right: 1px solid #cbcbb4;
	border-bottom: 1px solid #cbcbb4;
}

/*
 * Table dataTable
 */
table.dataTable {
	clear: both;
	width: 100%;
	margin-left:10px; 
	margin-top:5px;
	margin-bottom:5px;
	color: #000000;
	border-left: 1px solid #cbcbb4;
	border-top: 1px solid #cbcbb4;
	border-spacing: 0px;
	
}

table.dataTable thead th {
	cursor: pointer;
	*cursor: hand;
	font-size: 10pt;
	border-right: 1px solid #cbcbb4;
	border-bottom: 1px solid #cbcbb4;
	padding: 2px 10px;
	background-color: #A9E2F3;
	color: #2E9AFE
}

table.dataTable tfoot th {
	padding: 3px 18px 3px 10px;
	border-top: 1px solid #cbcbb4;
	font-weight: bold;
	text-align: center;
}

table.dataTable td {
	font-size: 10pt;
	padding: 2px 10px;
	background-color: #FFFFFF;
	text-align: center;
	border-right: 1px solid #cbcbb4;
	border-bottom: 1px solid #cbcbb4;
}

table.dataTable td.center,
table.dataTable td.dataTables_empty {
	text-align: center;
}

table.dataTable tr.odd { background-color: #E2E4FF; }
table.dataTable tr.even { background-color: white; }

/*
table.dataTable tr.odd td.sorting_1 { background-color: #A9E2F3; }
table.dataTable tr.odd td.sorting_2 { background-color: #A9E2F3; }
table.dataTable tr.odd td.sorting_3 { background-color: #A9E2F3; }
table.dataTable tr.even td.sorting_1 { background-color: #2E9AFE; }
table.dataTable tr.even td.sorting_2 { background-color: #2E9AFE; }
table.dataTable tr.even td.sorting_3 { background-color: #2E9AFE; }
*/

/*
 * Table wrapper
 */
.dataTables_wrapper {
	position: relative;
	clear: both;
	*zoom: 1;
}


/*
 * Page length menu
 */
.dataTables_length {
	float: left;
	margin-left:10px; 
}


/*
 * Filter
 */
.dataTables_filter {
	float: left;
	margin-left:100px;
	text-align: right;
}


/*
 * Table information
 */
.dataTables_info {
	clear: both;
	float: left;
	margin-left:10px;
}


/*
 * Pagination
 */
.dataTables_paginate {
	float: left;
	text-align: right;
	margin-left:100px;
}

/* Two button pagination - previous / next */
.paginate_disabled_previous,
.paginate_enabled_previous,
.paginate_disabled_next,
.paginate_enabled_next {
	height: 19px;
	float: left;
	cursor: pointer;
	*cursor: hand;
	color: #111 !important;
}
.paginate_disabled_previous:hover,
.paginate_enabled_previous:hover,
.paginate_disabled_next:hover,
.paginate_enabled_next:hover {
	text-decoration: none !important;
}
.paginate_disabled_previous:active,
.paginate_enabled_previous:active,
.paginate_disabled_next:active,
.paginate_enabled_next:active {
	outline: none;
}

.paginate_disabled_previous,
.paginate_disabled_next {
	color: #666 !important;
}
.paginate_disabled_previous,
.paginate_enabled_previous {
	padding-left: 23px;
}
.paginate_disabled_next,
.paginate_enabled_next {
	padding-right: 23px;
	margin-left: 10px;
}

.paginate_enabled_previous { background: url('../images/back_enabled.png') no-repeat top left; }
.paginate_enabled_previous:hover { background: url('../images/back_enabled_hover.png') no-repeat top left; }
.paginate_disabled_previous { background: url('../images/back_disabled.png') no-repeat top left; }

.paginate_enabled_next { background: url('../images/forward_enabled.png') no-repeat top right; }
.paginate_enabled_next:hover { background: url('../images/forward_enabled_hover.png') no-repeat top right; }
.paginate_disabled_next { background: url('../images/forward_disabled.png') no-repeat top right; }

/* Full number pagination */
.paging_full_numbers {
	height: 22px;
	line-height: 22px;
}
.paging_full_numbers a:active {
	outline: none
}
.paging_full_numbers a:hover {
	text-decoration: none;
}

.paging_full_numbers a.paginate_button,
.paging_full_numbers a.paginate_active {
	border: 1px solid #aaa;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 2px 5px;
	margin: 0 3px;
	cursor: pointer;
	*cursor: hand;
	color: #333 !important;
}

.paging_full_numbers a.paginate_button {
	background-color: #ddd;
}

.paging_full_numbers a.paginate_button:hover {
	background-color: #ccc;
	text-decoration: none !important;
}

.paging_full_numbers a.paginate_active {
	background-color: #99B3FF;
}


/*
 * Processing indicator
 */
.dataTables_processing {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 250px;
	height: 30px;
	margin-left: -125px;
	margin-top: -15px;
	padding: 14px 0 2px 0;
	border: 1px solid #ddd;
	text-align: center;
	color: #999;
	font-size: 14px;
	background-color: white;
}


/*
 * Sorting
 */
.sorting { background: url('../images/sort_both.png') no-repeat center right; }
.sorting_asc { background: url('../images/sort_asc.png') no-repeat center right; }
.sorting_desc { background: url('../images/sort_desc.png') no-repeat center right; }

.sorting_asc_disabled { background: url('../images/sort_asc_disabled.png') no-repeat center right; }
.sorting_desc_disabled { background: url('../images/sort_desc_disabled.png') no-repeat center right; }
 
table.dataTable thead th:active,
table.dataTable thead td:active {
	outline: none;
}


/*
 * Scrolling
 */
.dataTables_scroll {
	clear: both;
}

.dataTables_scrollBody {
	*margin-top: -1px;
	-webkit-overflow-scrolling: touch;
}
