/* Style sheet for the HTML formatting of RSAT results */

/* BODY  */
body {
       font-family: Verdana, Helvetica, Arial, sans-serif;
       font-size: 70%;
       margin-top: 2px;
       margin-left: 20px;
       text-align: justify;
       background: #ffffff;
       margin-right: 20px;
/*       background: #0D73A7 url(images/bullet2-normal.gif) no-repeat 7px 7px;*/
}


/* div for menu */

#Menu_space {
	margin-top:120px;
	margin-bottom:300px;
}
#Menu_wait {
	position:absolute;
	top:120px;
	left:50%;
	width:400px;
	margin-left: -200px;
	padding:10px;
	text-align:center;
	}

#Menu {
	position:absolute;
	top:120px;
	left:50%;
	width:800px;
	margin-left: -400px;
	padding:10px;
	background-color:#eee;
	border:1px dashed #999;
	line-height:17px;
	font-size: 110%;
	voice-family: "\"}\"";
	voice-family:inherit;
	text-align:left;
	}

#Menu h3 {
	margin:0;
	text-align:center;
	padding-bottom:5px;
}

#Menu ul {
	list-style-type:none;
}

/* TABLE */
#Menu table {
	margin: 10px 10px 10px;
}

#Menu  td, th {
	font-size: 70%;
	padding: 2px 10px;
	vertical-align:top;
}

.menulink a:link,a:visited {
	color:#cc6600;
	background: transparent;
	text-decoration: none;
	}

.menulink a:visited {
	color:#cc6600;
	background: transparent;
	text-decoration: none;
	}

.menulink A:active {
	color: #cc6600;
	background: transparent;
	text-decoration: none
}

.menulink A:hover {
	text-decoration: underline;
	color: #cc6600;
}


/* Links  */

A:link,A:visited {
	color: #0D73A7;
	background: transparent;
	text-decoration: none;
}

A:active {
	color: #ff0000;
	background: transparent;
	text-decoration: none
}

A:hover {
	text-decoration: underline;
	color: #cc6600;
}

/* Headers  */

h1 {
	margin-top: 10px;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-bottom: 0px;
	padding-left: 10px;
	border: 1px solid #2D282E;
	background-color: #0D73A7;
	font-size: 16px;
	color: #D6EEFA;
}
h1 a:link, h1 a:visited {
	color: #D6EEFA;
}

h1 a:hover {
	color: #ffffff;
}

h2 {
	margin-top: 10px;
	padding-top: 15px;
	margin-bottom: 0px;
	color: #002266;
	font-size: 15px;
}

h3 {
	margin-top: 6px;
	padding-top: 6px;
	margin-bottom: 0px;
	color: #002266;
	font-size: 11px;
}

h4 {
	margin-top: 4px;
	padding-top: 4px;
	margin-bottom: 0px;
	color : #2D282E;
	font-size: 11px;
}

h2.motif {
	margin-top: 3px;
	padding-top: 0px;
	margin-bottom: 4px;
	color : #2D282E;
	font-size: 12px;
}

/* Other tag formatting  */
hr {
	border: 1px dotted #2D282E;
	height: 1px;
}

hr.solid {
	border: 1px solid #2D282E;
	height: 1px;
}

pre,tt {
         font-size: 12px;
}

pre { 
      background:#EEEEEE;
 }


center {
	margin-top: 5px;
	margin-bottom: 20px;
	font-weight: bold;
}

blockquote {
	color : #cc6600;
	font-size: 12px;
}

body blockquote.information {
	color : #009900;
	font-size: 12px;
}

body blockquote.warning {
	color : #aa0000;
	font-size: 12px;
}

blockquote.demo {
	color : #000000;
	font-size: 12px;
	font-style:italic;
}



/* TABLE */
table.simple {
	margin: 10px 20px 20px;
	color: #000000;
}

table.simple td,table.list th {
	font-size: 70%;
	padding: 2px 10px;
	background-color: #FFFFFF;
}

table.simple th {
	font-size: 70%;
	background-color: #F6E6CA;
}

/* TABLE */

/* table with white bg and small fonts */
table.whitebg {
	margin: 10px 20px 20px;
	color: #000000;
	border-left: 1px solid #cbcbb4;
	border-top: 1px solid #cbcbb4;
	border-spacing: 0px;
}

table.whitebg td,table.whitebg th {
	font-size: 70%;
	border-right: 1px solid #cbcbb4;
	border-bottom: 1px solid #cbcbb4;
	padding: 2px 10px;
	background-color: #FFFFFF;
}


/* table with blue bg and small font */
table.whitebg th {
	font-size: 70%;
	background-color: #F6E6CA;
}

table.bluebg {
	color: #333333;
	border-left: 1px solid #cbcbb4;
	border-top: 1px solid #cbcbb4;
	}

table.bluebg td,table.bluebg th {
	font-size: 70%;
	border-right: 1px solid #cbcbb4;
	border-bottom: 1px solid #cbcbb4;
	background-color: #D6EEFA;
}

table.bluebg th {
	background-color: #0D73A7;
	color: #D6EEFA;
}
	
/* Table on result pages - compatible with the sorttable type defined by javascript */

table.sortable {
	margin: 10px 20px 20px;
	color: #000000;
	border-left: 1px solid #cbcbb4;
	border-right: 1px solid #cbcbb4;
	border-top: 1px solid #cbcbb4;
	border-bottom: 1px solid #cbcbb4;
	border-spacing: 0px;
}

table.sortable td,table.sortable th {
	padding: 2px 10px;
	font-size: 70%;
	border-right: 1px solid #cbcbb4;
	border-bottom: 1px solid #cbcbb4;
	padding: 2px 10px;
	background-color: #FFFFFF;
}

table.sortable th {
	font-size: 70%;
	background-color: #0D73A7;
	color: #D6EEFA;
}


/* LINK TABLE ON RESULTS PAGES */
table.resultlink {
	margin-left:5px;
	width : 90%;
	color: #2D282E;
	background-color: #D6EEFA;
}


table.resultlink td, table.resultlink th {
	font-size: 70%;
	padding-left:5px;
	padding-right:3px;
	text-align :left;
}

/* COLLAPSIBLE MENUS */

.menu_heading_open {
	background: url(images_html/arrow_box_down.gif) no-repeat 5px 7px;
	text-decoration: none;
	padding: 0px 6px 4px 21px;
	margin: 0;
	cursor: pointer;
	font-weight: bold;
	display: block;
}

.menu_heading_closed {
	background: url(images_html/arrow_box.gif) no-repeat 5px 7px;
	text-decoration: underline; 
	display: block;
	padding:0px 6px 4px 21px;
	margin: 0;
	cursor: pointer;
	font-weight: bold;
}

.menu_collapsible {
	display: none;
	margin-bottom: 10px;
	margin-left: 30px;
}

.menu_collapsible_display {
   display: block;
   margin-bottom: 10px;
   margin-left: 30px;
}
