#!/usr/bin/perl

################################################################
########### main configuration parameters ######################
################################################################
$config_site =	"local";
$RSA =    	"/home/myaccount/rsa-tools";
$WWW_RSA = 	"http://localhost/~myaccount/rsa-tools/";
$IMG_FORMAT =   "png";

$GENBANK_DIR=$RSA."downloads/ftp.ncbi.nih.gov/genomes";

$ECHO=0;

require $RSA."/data/supported_organisms.pl";

################################################################
#
# configuration for the parsers
#
################################################################

$ENV{PARSER}="${RSA}/perl-scripts/parsers";


################################################################
# SQL export format
$supported_dbms{oracle} = 1;
$supported_dbms{postgresql} = 1;
$supported_dbms{mysql} = 1;

$default{dbms} = "mysql";
$default{host} = "localhost";
$default{schema} = "rsat";
$default{user} = "rsat";
$default{password} = "rsat";

### input directory. This directory must contain the mirror of the databases to be p
$Databases = $RSA."/downloads"; 

### main output directory: the result is exported to subdirectories of  this directory
$parsed_data = $ENV{HOME}."/parsed_data"; 

################################################################
# initialization
$start_time = `date +%Y-%m-%d.%H%M%S`;

return 1;

