/* BODY   */
body {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 10px;
	margin-left: 4px;
	padding: 0;
	color: #FFFFFF;
	text-align: left;
	background: #115588;
}

h1 {
     margin-right: 5px;
     margin-left: 5px;
     margin-top: 0px;
     margin-bottom: 10px;
     font-size: 13px;
     text-align: center;
     color:#FFFFFF;
}

h2 {
     margin-right: 5px;
     margin-top: 10px;
     margin-bottom: 5px;
     font-size: 12px;
     text-align: left;
     color:#FFFFFF;
}

h3 {
     font-size: 10px;
/*     text-align: left;*/
     color:#FFFFFF;
     margin-top: 5px;
     margin-bottom: 2px;
     margin-right: 2px;
     margin-left: 5px;
     padding-left: 5px;
}


ul {
/*	width: 162px;
	color: #000000;
	background-color: #ffffff;
	border-bottom: 1px solid #000000;*/
	/*z-index: 1;*/
	padding-left: 5px;
	margin-left:20px;
	font-size: 10px;
/*	list-style-type: none;*/
}

/* links */
A:link,A:visited {
                   color: #DDDDFF;
                   background: transparent;
                   text-decoration: none;
                   font-weight: bold;
                   }

A:active {
           color: #FFBB88;
           background: transparent;
           text-decoration: none
           }

A:hover {
          text-decoration: underline;
          color: #FFDDDD;
          }


/* CONTENT   */
#content {
	width: 160px;
	/*background: #FAF5D1;*/
	padding-top: 10px;
	border-top: none;
	/*z-index: 2;*/
}

#content.rsat {
	background: #ffffff; 
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;
	border-left: 1px solid #000000;
}

#content.graph {
	background: #ffffff; 
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;
	border-left: 1px solid #000000;
}

/* CONTENT TEXT   */
#content h4 { 
	padding-left: 5px;
	margin-top: -5px;
	font-size: 9px;
	text-align: center;
}

#content h4 a, content h4 a:visited {
	color: #4a4a4a;
	text-decoration: none;
}

#content h4 a:hover {
	color: #cc6600;
	text-decoration: underline;
}

#content h2 {
	margin-right: 10px;
	margin-bottom: 20px;
	font-size: 11px;
	text-align: left;
}

#content h2 a, content h2 a:visited {
	color: #cc6600;
	text-decoration: none;
}

#content h2 a:hover {
	color: #2D282E;
	text-decoration: none;
}


#content h3 { 
	padding-left: 5px;
	font-size: 11px;
	text-align: center;
}

#content h3 a {
	color: #2D282E;
	text-decoration: none;
}

#content h3 a:hover {
	color: #cc6600;
	text-decoration: underline;
}

/* BOXED MENU   */
.menu {
	width: 140px;
	margin-bottom: 5px;
	margin-left: 7px;
	font-size: 10px;
	color: #D6EEFA;
	font-weight: bold;
}

.menu_expand {
	text-decoration: none;
	text-align: left;
	cursor: pointer;
	font-weight: bold;
	font-size: 9px;
	margin: 5px;
}

.menu a:link,.menu a:visited {
                               color: #D6EEFA;
                               }

.menu a:hover {
	background-color: #258CC0 ;
	color: #ffffff;
	text-decoration: none;
}

/*#content.graph .menu a:link,content.graph .menu a:visited {
	color: #D98875;
}*/

/*#content.graph .menu a:hover {
	background-color: #D98875;
	color: #2D282E;
	text-decoration: none;
}*/

.menu_heading_open {
	background: #2D282E url(images/arrow_down.gif) no-repeat 5px 7px;
	text-decoration: none;
	padding: 4px 5px 4px 20px;
	margin: 0;
	border-bottom: 1px solid #444;
	cursor: pointer;
	font-weight: bold;
	display: block;
}

.menu_heading_closed {
	background: #2D282E url(images/arrow.gif) no-repeat 5px 7px;
	text-decoration: none; 
	display: block;
	padding: 4px 5px 4px 20px;
	margin: 0;
	border-bottom: 1px solid #444;
	cursor: pointer;
	font-weight: bold;
}

.menu_collapsible {
	display: none;
	margin-bottom: 10px;
}

.menu_item {
	display: block;
	background: #115588 url(images/bullet2-normal.gif) no-repeat 7px 7px;
	text-decoration: none; 
	padding: 4px 5px 4px 30px;
	padding: 4px 5px 4px 20px;
	border-bottom:1px dashed #444;
	margin: 0;
	font-size: 9px;
	color: #2D282E;
	cursor: pointer;
	
}
.menu_item_last {
	display: block;
	background: #115588 url(images/bullet2-normal.gif) no-repeat 7px 7px;
	text-decoration: none; 
	padding: 4px 5px 4px 30px;
	padding: 4px 5px 4px 20px;
	border-bottom:1px solid #444;
	margin: 0;
	font-size: 9px;
	color: #2D282E;
	cursor: pointer;
	
}

.menu_separator {
	display: block;
	background-color: #444;
	text-decoration: none; 
	padding: 0px 0px 2px 3px;
	margin: 0;
	font-size: 9px;
	color: #D6EEFA;
	cursor: pointer;
}

.menu  a.menu_separator:hover {
	background-color: #444 ;
	color: #D6EEFA;
	text-decoration: none;
}

/*#content.graph .menu_item {
	background: #D98875 url(images/bullet2-normal.gif) no-repeat 7px 7px;
	color: #ffffff;
}*/

/* TOP TABS */
#pre {
	text-indent: 30px
}


#tabmenu a, a.active  {
	border: 1px solid #000000;
	padding: 2px 5px 0px 5px;
	margin: 0;
	font-weight: bold;
	text-decoration: none;
	position: relative;
}

#tabmenu a , tabmenu a:visited {
	background: #115588;
	border-left: 1px solid #000000;
	color: #FFFFFF;
	text-decoration: none;
}

#tabmenu a.active {
	background: #ffffff;
	border-bottom: 1px solid #ffffff;
	border-left: 1px solid #000000;
	color: #2D282E;
	text-decoration: none;
}

#tabmenu a:hover {
	color: #D6EEFA;
}

#tabmenu a.active:hover {
	color: #115588;
}
